html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* запрет прокрутки */
    white-space: nowrap;
  }

  @font-face {
    font-family: "Sunday";
    src: url("@/fonts/Sunday.ttf") format("truetype");
  }